<!-- p>
  reservation works!
</p -->


<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Reservation</h1>
            <p class="text-muted">Create your Account and Reservation</p>
            <p class="text-muted"><a href = '#' (click) = 'goto("Login")'   >Go to Login Page</a></p>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" class="form-control" placeholder="First Name" [(ngModel)] = 'firstname' >&nbsp;
              <input type="text" class="form-control" placeholder="Last Name" [(ngModel)] = 'lastname'>
            </div>            

            <div class="input-group mb-3">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" placeholder="Email" [(ngModel)] = 'email' >
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-phone"></i></span>
              <input type="text" class="form-control" placeholder="TelePhone" [(ngModel)] = 'telephone'>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon"><i class=""></i></span>
              <input type="text" class="form-control" placeholder="Age" [(ngModel)] = 'age' >
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon"><i class=""></i></span>
              <!-- input type="password" class="form-control" placeholder="Password" [(ngModel)] = 'pwd' -->
              <select class="form-control" [(ngModel)] = 'event' >
                    <option value = 10>event 1</option>
                    <option value = 20>event 2</option>
                    <option value = 30>event 3</option>
              </select>
            </div>

            <div class="input-group mb-4">
              <span class="input-group-addon"><i class=""></i></span>
              <!-- input type="password" class="form-control" placeholder="Repeat password" [(ngModel)] = 'confirmpwd' -->
              <select class="form-control" [(ngModel)] = 'persons' >
                    <option value = '5' >persons:5</option>
                    <option value = '10' >persons:10</option>
                    <option value = '15' >persons:15</option>
                    <option value = '20' >persons:20</option>
                    <option value = '25' >persons:25</option>
                    <option value = '30' >persons:30</option>
                    <option value = '35' >persons:35</option>
                    <option value = '40' >persons:40</option>
                    <option value = '45' >persons:45</option>
                    <option value = '50' >persons:50</option>
              </select>
            </div>

            <button type="button" class="btn btn-block btn-success" (click) = 'createReservation()' >Create Reservation</button>
          </div>
          <!--div class="card-footer p-4">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
              </div>
            </div>
          </div -->
        </div>
      </div>
    </div>
  </div>
</div>

